<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<dict>
		<key>bf</key>
		<string>\textbf{$1} </string>
		<key>cha</key>
		<string>\chapter{$1}</string>
		<key>cir</key>
		<string>\circle${1:[*]}{$0}</string>
		<key>circle</key>
		<string>\circle${1:[*]}{$0}</string>
		<key>cli</key>
		<string>\lstinline{$1} </string>
		<key>dc</key>
		<string>\documentclass{${1:article}}
</string>
		<key>dis</key>
		<string>\displaystyle</string>
		<key>ds</key>
		<string>\displaystyle</string>
		<key>e</key>
		<string>\emph{$1} </string>
		<key>em</key>
		<string>\emph{$1} </string>
		<key>fc</key>
		<string>\footcite{$1} </string>
		<key>fn</key>
		<string>\footnote{$1} </string>
		<key>fr</key>
		<string>\frac{${1:num}}{$0}</string>
		<key>frac</key>
		<string>\frac{${1:num}}{$0}</string>
		<key>geo</key>
		<string>\usepackage[left=${1:2cm},right=${2:2cm},top=${3:1cm},bottom=${4:2cm}]{geometry}</string>
		<key>hf</key>
		<string>\hfill</string>
		<key>it</key>
		<string>\textit{$1} </string>
		<key>l</key>
		<string>\lim_{$1} $0</string>
		<key>lim</key>
		<string>\lim_{$1} $0</string>
		<key>line</key>
		<string>\line(${1:0},${2:0}){${3:0}}{$0}</string>
		<key>mp</key>
		<string>\multiput(${1:0},${2:0})(${3:5},${4:0}){${5:2}}{$0}</string>
		<key>mput</key>
		<string>\multiput(${1:0},${2:0})(${3:5},${4:0}){${5:2}}{$0}</string>
		<key>multiput</key>
		<string>\multiput(${1:0},${2:0})(${3:5},${4:0}){${5:2}}{$0}</string>
		<key>nc</key>
		<string>\newcommand{$1}{$2}</string>
		<key>p</key>
		<string>\prod_{${1:bot}}^{$2} $0</string>
		<key>par</key>
		<string>\paragraph{$1}</string>
		<key>prod</key>
		<string>\prod_{${1:bot}}^{$2} $0</string>
		<key>put</key>
		<string>\put(${1:0},${2:0}){$0}</string>
		<key>rnc</key>
		<string>\renewcommand{$1}{$2}</string>
		<key>s</key>
		<string>\sum_{${1:bot}}^{$2} $0</string>
		<key>sc</key>
		<string>\textsc{$1} </string>
		<key>sec</key>
		<string>\section{$1}</string>
		<key>sf</key>
		<string>\textsf{$1} </string>
		<key>ssub</key>
		<string>\subsubsection{$1}</string>
		<key>sub</key>
		<string>\subsection{$1}</string>
		<key>subp</key>
		<string>\subparagraph{$1}</string>
		<key>subs</key>
		<string>\subsubsection{$1}</string>
		<key>sum</key>
		<string>\sum_{${1:bot}}^{$2} $0</string>
		<key>tt</key>
		<string>\texttt{$1} </string>
		<key>usep</key>
		<string>\usepackage{$1}</string>
		<key>vf</key>
		<string>\vfill</string>
	</dict>
	<key>commands_beamer</key>
	<dict>
		<key>a</key>
		<string>\alert&lt;${1:+-}&gt;{$2} </string>
		<key>al</key>
		<string>\alert&lt;${1:+-}&gt;{$2} </string>
		<key>alert</key>
		<string>\alert&lt;${1:+-}&gt;{$2} </string>
		<key>o</key>
		<string>\only&lt;${1:+-}&gt;{$2} </string>
		<key>on</key>
		<string>\only&lt;${1:+-}&gt;{$2} </string>
		<key>only</key>
		<string>\only&lt;${1:+-}&gt;{$2} </string>
		<key>ons</key>
		<string>\onslide&lt;${1:+-}&gt;{$2} </string>
		<key>onslide</key>
		<string>\onslide&lt;${1:+-}&gt;{$2} </string>
		<key>os</key>
		<string>\onslide&lt;${1:+-}&gt;{$2} </string>
		<key>un</key>
		<string>\uncover&lt;${1:+-}&gt;{$2} </string>
		<key>uncover</key>
		<string>\uncover&lt;${1:+-}&gt;{$2} </string>
		<key>v</key>
		<string>\visible&lt;${1:+-}&gt;{$2} </string>
		<key>vis</key>
		<string>\visible&lt;${1:+-}&gt;{$2} </string>
		<key>visible</key>
		<string>\visible&lt;${1:+-}&gt;{$2} </string>
	</dict>
	<key>environments</key>
	<dict>
		<key>description</key>
		<dict>
			<key>content</key>
			<string>	\item[$1] $0</string>
			<key>triggers</key>
			<array>
				<string>desc</string>
				<string>description</string>
			</array>
		</dict>
		<key>document</key>
		<dict>
			<key>triggers</key>
			<array>
				<string>doc</string>
				<string>document</string>
			</array>
		</dict>
		<key>enumerate</key>
		<dict>
			<key>content</key>
			<string>	\item $0</string>
			<key>triggers</key>
			<array>
				<string>en</string>
				<string>enum</string>
				<string>enumerate</string>
			</array>
		</dict>
		<key>eqnarray</key>
		<dict>
			<key>triggers</key>
			<array>
				<string>eqa</string>
				<string>eqnarray</string>
			</array>
		</dict>
		<key>eqnarray*</key>
		<dict>
			<key>triggers</key>
			<array>
				<string>eqa*</string>
				<string>eqnarray*</string>
			</array>
		</dict>
		<key>equation</key>
		<dict>
			<key>triggers</key>
			<array>
				<string>eq</string>
				<string>eqn</string>
				<string>equation</string>
			</array>
		</dict>
		<key>equation*</key>
		<dict>
			<key>triggers</key>
			<array>
				<string>eq*</string>
				<string>eqn*</string>
				<string>equation*</string>
			</array>
		</dict>
		<key>itemize</key>
		<dict>
			<key>content</key>
			<string>	\item $0</string>
			<key>triggers</key>
			<array>
				<string>it</string>
				<string>item</string>
				<string>itemize</string>
			</array>
		</dict>
		<key>parts</key>
		<dict>
			<key>content</key>
			<string>	\part $0</string>
			<key>triggers</key>
			<array>
				<string>p</string>
				<string>par</string>
				<string>parts</string>
			</array>
		</dict>
		<key>questions</key>
		<dict>
			<key>content</key>
			<string>	\question $0</string>
			<key>triggers</key>
			<array>
				<string>q</string>
				<string>que</string>
				<string>questions</string>
			</array>
		</dict>
		<key>quotation</key>
		<dict>
			<key>triggers</key>
			<array>
				<string>q</string>
				<string>qu</string>
				<string>quotation</string>
			</array>
		</dict>
		<key>quote</key>
		<dict>
			<key>triggers</key>
			<array>
				<string>q</string>
				<string>qu</string>
				<string>quote</string>
			</array>
		</dict>
		<key>table</key>
		<dict>
			<key>content</key>
			<string>	\begin{center}
	\begin{tabular}{${3:c}}
		${4}
	\end{tabular}
	\end{center}
	\caption{${1:caption}}
	\label{${2:label}}</string>
			<key>triggers</key>
			<array>
				<string>tbl</string>
				<string>table</string>
			</array>
		</dict>
	</dict>
	<key>environments_beamer</key>
	<dict>
		<key>columns</key>
		<dict>
			<key>content</key>
			<string>	\begin{column}{${1:0.${2:5}\textwidth}}
	$3
\end{column}</string>
			<key>triggers</key>
			<array>
				<string>cols</string>
				<string>columns</string>
			</array>
		</dict>
		<key>description</key>
		<dict>
			<key>content</key>
			<string>	\item&lt;${1:+-}&gt;[$2] $3</string>
			<key>triggers</key>
			<array>
				<string>desc</string>
				<string>description</string>
			</array>
		</dict>
		<key>enumerate</key>
		<dict>
			<key>content</key>
			<string>	\item&lt;${1:+-}&gt; $2</string>
			<key>triggers</key>
			<array>
				<string>en</string>
				<string>enum</string>
				<string>enumerate</string>
			</array>
		</dict>
		<key>itemize</key>
		<dict>
			<key>content</key>
			<string>	\item&lt;${1:+-}&gt; $2</string>
			<key>triggers</key>
			<array>
				<string>it</string>
				<string>item</string>
				<string>itemize</string>
			</array>
		</dict>
		<key>overprint</key>
		<dict>
			<key>content</key>
			<string>	\onslide&lt;${1:+}&gt;
	$0</string>
			<key>triggers</key>
			<array>
				<string>op</string>
				<string>overprint</string>
			</array>
		</dict>
	</dict>
	<key>labeled_environments</key>
	<dict>
		<key>corollary</key>
		<dict>
			<key>content</key>
			<string>\label{cor:$1}
	$0</string>
			<key>triggers</key>
			<array>
				<string>cor</string>
				<string>corollary</string>
			</array>
		</dict>
		<key>definition</key>
		<dict>
			<key>content</key>
			<string>\label{def:$1}
	$0</string>
			<key>triggers</key>
			<array>
				<string>def</string>
				<string>definition</string>
			</array>
		</dict>
		<key>figure</key>
		<dict>
			<key>content</key>
			<string>[${1:htbp}]
	\centering
		\includegraphics[${2:scale=${3:1}}]{${4:file}}
	\caption{${5:caption}}
	\label{fig:${6:label}}</string>
			<key>triggers</key>
			<array>
				<string>fig</string>
				<string>figure</string>
			</array>
		</dict>
		<key>lemma</key>
		<dict>
			<key>content</key>
			<string>\label{lem:$1}
	$0</string>
			<key>triggers</key>
			<array>
				<string>lem</string>
				<string>lemma</string>
			</array>
		</dict>
		<key>lstlisting</key>
		<dict>
			<key>content</key>
			<string>[caption=${1:cap},label=lst:${2:lab},float=htbp]
	$0</string>
			<key>triggers</key>
			<array>
				<string>lst</string>
				<string>lstlisting</string>
			</array>
		</dict>
		<key>picture</key>
		<dict>
			<key>content</key>
			<string>(${1:100},${2:100})${3:(${4:0},${5:0})}
	$0</string>
			<key>triggers</key>
			<array>
				<string>pic</string>
				<string>picture</string>
			</array>
		</dict>
		<key>proof</key>
		<dict>
			<key>content</key>
			<string>${1:\label{pf:$2\}}
	$0</string>
			<key>triggers</key>
			<array>
				<string>pf</string>
				<string>proof</string>
			</array>
		</dict>
		<key>proposition</key>
		<dict>
			<key>content</key>
			<string>\label{pro:$1}
	$0</string>
			<key>triggers</key>
			<array>
				<string>pro</string>
				<string>proposition</string>
			</array>
		</dict>
		<key>theorem</key>
		<dict>
			<key>content</key>
			<string>\label{thm:$1}
	$0</string>
			<key>triggers</key>
			<array>
				<string>thm</string>
				<string>theorem</string>
			</array>
		</dict>
	</dict>
	<key>labeled_environments_beamer</key>
	<dict>
		<key>block</key>
		<dict>
			<key>triggers</key>
			<array>
				<string>bl</string>
				<string>block</string>
			</array>
			<key>zero_line</key>
			<string>{$1}
	$0</string>
		</dict>
		<key>column</key>
		<dict>
			<key>content</key>
			<string>{${1:0.${2:5}\textwidth}}
	$0</string>
			<key>triggers</key>
			<array>
				<string>col</string>
				<string>column</string>
			</array>
		</dict>
		<key>frame</key>
		<dict>
			<key>content</key>
			<string>[${1:t}]\frametitle{${2:title}}
	$0</string>
			<key>triggers</key>
			<array>
				<string>fr</string>
				<string>frame</string>
			</array>
		</dict>
		<key>overlayarea</key>
		<dict>
			<key>content</key>
			<string>{${1:areawidth}}{${2:areaheight}}
	\only&lt;${3:+}&gt; $0</string>
			<key>triggers</key>
			<array>
				<string>oa</string>
				<string>overlayarea</string>
			</array>
		</dict>
	</dict>
	<key>symbols</key>
	<dict>
		<key>BC</key>
		<string>\mathbb{C}</string>
		<key>BD</key>
		<string>\mathbb{D}</string>
		<key>BH</key>
		<string>\mathbb{H}</string>
		<key>BQ</key>
		<string>\mathbb{Q}</string>
		<key>BR</key>
		<string>\mathbb{R}</string>
		<key>BS</key>
		<string>\mathbb{S}</string>
		<key>BZ</key>
		<string>\mathbb{Z}</string>
		<key>Bk</key>
		<string>\Bbbk</string>
		<key>Box</key>
		<string>boxminus</string>
		<key>Cap</key>
		<string>cap</string>
		<key>Cup</key>
		<string>curlywedge</string>
		<key>D</key>
		<string>\Delta</string>
		<key>Diamond</key>
		<string>diagdown</string>
		<key>Downarrow</key>
		<string>downarrow</string>
		<key>F</key>
		<string>\Phi</string>
		<key>G</key>
		<string>\Gamma</string>
		<key>L</key>
		<string>\Lambda</string>
		<key>Leftarrow</key>
		<string>Longleftarrow</string>
		<key>Leftrightarrow</key>
		<string>Longleftrightarrow</string>
		<key>Longleftarrow</key>
		<string>leftarrow</string>
		<key>Longleftrightarrow</key>
		<string>leftrightarrow</string>
		<key>Longrightarrow</key>
		<string>rightarrow</string>
		<key>P</key>
		<string>\Pi</string>
		<key>Q</key>
		<string>\Theta</string>
		<key>Re</key>
		<string>eqref</string>
		<key>Rightarrow</key>
		<string>Longrightarrow</string>
		<key>S</key>
		<string>\Sigma</string>
		<key>Subset</key>
		<string>subset</string>
		<key>Supset</key>
		<string>spadesuit</string>
		<key>U</key>
		<string>\Upsilon</string>
		<key>Uparrow</key>
		<string>updownarrow</string>
		<key>Updownarrow</key>
		<string>uparrow</string>
		<key>W</key>
		<string>\Omega</string>
		<key>Y</key>
		<string>\Psi</string>
		<key>a</key>
		<string>\alpha</string>
		<key>ah</key>
		<string>\arcsinh</string>
		<key>al</key>
		<string>\aleph</string>
		<key>am</key>
		<string>\amalg</string>
		<key>an</key>
		<string>\angle</string>
		<key>angle</key>
		<string>measuredangle</string>
		<key>ap</key>
		<string>\approx</string>
		<key>ar</key>
		<string>\arcsin</string>
		<key>arccos</key>
		<string>arctan</string>
		<key>arccosh</key>
		<string>arctanh</string>
		<key>arcsin</key>
		<string>arccos</string>
		<key>arcsinh</key>
		<string>arccosh</string>
		<key>arctan</key>
		<string>arcsin</string>
		<key>arctanh</key>
		<string>arcsinh</string>
		<key>as</key>
		<string>\ast</string>
		<key>b</key>
		<string>\beta</string>
		<key>ba</key>
		<string>\backprime</string>
		<key>backprime</key>
		<string>barwedge</string>
		<key>barwedge</key>
		<string>backprime</string>
		<key>be</key>
		<string>\because</string>
		<key>bi</key>
		<string>\bigcup</string>
		<key>bigcap</key>
		<string>bigvee</string>
		<key>bigcirc</key>
		<string>bigcup</string>
		<key>bigcup</key>
		<string>bigcap</string>
		<key>bigodot</key>
		<string>bigstar</string>
		<key>bigoplus</key>
		<string>biguplus</string>
		<key>bigotimes</key>
		<string>bigoplus</string>
		<key>bigskip</key>
		<string>smallskip</string>
		<key>bigstar</key>
		<string>bigtriangleup</string>
		<key>bigtriangledown</key>
		<string>bigcirc</string>
		<key>bigtriangleup</key>
		<string>bigtriangledown</string>
		<key>biguplus</key>
		<string>bigodot</string>
		<key>bigvee</key>
		<string>bigwedge</string>
		<key>bigwedge</key>
		<string>bigotimes</string>
		<key>bl</key>
		<string>\blacksquare</string>
		<key>blacksquare</key>
		<string>blacktriangle</string>
		<key>blacktriangle</key>
		<string>blacktriangleleft</string>
		<key>blacktriangledown</key>
		<string>blacksquare</string>
		<key>blacktriangleleft</key>
		<string>blacktriangleright</string>
		<key>blacktriangleright</key>
		<string>blacktriangledown</string>
		<key>bo</key>
		<string>\Box</string>
		<key>boxdot</key>
		<string>boxminus</string>
		<key>boxminus</key>
		<string>boxtimes</string>
		<key>boxplus</key>
		<string>boxdot</string>
		<key>boxtimes</key>
		<string>boxplus</string>
		<key>bu</key>
		<string>\bullet</string>
		<key>c</key>
		<string>\chi</string>
		<key>ca</key>
		<string>\cap</string>
		<key>cap</key>
		<string>Cap</string>
		<key>cd</key>
		<string>\cdot</string>
		<key>cdot</key>
		<string>cdots</string>
		<key>cdots</key>
		<string>cdot</string>
		<key>ce</key>
		<string>\centerdot</string>
		<key>ci</key>
		<string>\circ</string>
		<key>circ</key>
		<string>circleddash</string>
		<key>circledS</key>
		<string>circ</string>
		<key>circledast</key>
		<string>circledcirc</string>
		<key>circledcirc</key>
		<string>circledS</string>
		<key>circleddash</key>
		<string>circledast</string>
		<key>cl</key>
		<string>\clubsuit</string>
		<key>co</key>
		<string>\cos</string>
		<key>colon</key>
		<string>cong</string>
		<key>complement</key>
		<string>cos</string>
		<key>cong</key>
		<string>complement</string>
		<key>cos</key>
		<string>cosh</string>
		<key>cosh</key>
		<string>colon</string>
		<key>ct</key>
		<string>\cite</string>
		<key>cu</key>
		<string>\cup</string>
		<key>cup</key>
		<string>Cup</string>
		<key>curlyvee</key>
		<string>cup</string>
		<key>curlywedge</key>
		<string>curlyvee</string>
		<key>d</key>
		<string>\delta</string>
		<key>da</key>
		<string>\dagger</string>
		<key>dagger</key>
		<string>dashv</string>
		<key>dar</key>
		<string>\downarrow</string>
		<key>dashv</key>
		<string>dagger</string>
		<key>dd</key>
		<string>\ddots</string>
		<key>ddagger</key>
		<string>ddots</string>
		<key>ddots</key>
		<string>ddagger</string>
		<key>di</key>
		<string>\displaystyle</string>
		<key>diagdown</key>
		<string>diagup</string>
		<key>diagup</key>
		<string>divideontimes</string>
		<key>diamond</key>
		<string>Diamond</string>
		<key>diamondsuit</key>
		<string>displaystyle</string>
		<key>displaystyle</key>
		<string>div</string>
		<key>div</key>
		<string>diamond</string>
		<key>divideontimes</key>
		<string>diamondsuit</string>
		<key>do</key>
		<string>\dots</string>
		<key>doteq</key>
		<string>dotplus</string>
		<key>dotplus</key>
		<string>dots</string>
		<key>dots</key>
		<string>doteq</string>
		<key>downarrow</key>
		<string>Downarrow</string>
		<key>e</key>
		<string>\epsilon</string>
		<key>el</key>
		<string>\ell</string>
		<key>em</key>
		<string>\emptyset</string>
		<key>epsilon</key>
		<string>varepsilon</string>
		<key>eq</key>
		<string>\equiv</string>
		<key>eqref</key>
		<string>ref</string>
		<key>et</key>
		<string>\eth</string>
		<key>ex</key>
		<string>\exp</string>
		<key>exists</key>
		<string>exp</string>
		<key>exp</key>
		<string>exists</string>
		<key>f</key>
		<string>\phi</string>
		<key>fi</key>
		<string>\Finv</string>
		<key>fl</key>
		<string>\flat</string>
		<key>fo</key>
		<string>\forall</string>
		<key>fr</key>
		<string>\frac</string>
		<key>g</key>
		<string>\gamma</string>
		<key>ga</key>
		<string>\Game</string>
		<key>gg</key>
		<string>\ggg</string>
		<key>gr</key>
		<string>\gtrsim</string>
		<key>h</key>
		<string>\eta</string>
		<key>har</key>
		<string>\leftharpoonup</string>
		<key>hb</key>
		<string>\hbar</string>
		<key>he</key>
		<string>\heartsuit</string>
		<key>hoo</key>
		<string>\hookleftarrow</string>
		<key>hookleftarrow</key>
		<string>hookrightarrow</string>
		<key>hookrightarrow</key>
		<string>hookleftarrow</string>
		<key>hs</key>
		<string>\hslash</string>
		<key>i</key>
		<string>\iota</string>
		<key>if</key>
		<string>\iff</string>
		<key>ii</key>
		<string>\iint</string>
		<key>iiint</key>
		<string>iint</string>
		<key>iint</key>
		<string>iiint</string>
		<key>im</key>
		<string>\implies</string>
		<key>imath</key>
		<string>implies</string>
		<key>implies</key>
		<string>imath</string>
		<key>in</key>
		<string>\int</string>
		<key>inf</key>
		<string>int</string>
		<key>infty</key>
		<string>inf</string>
		<key>int</key>
		<string>infty</string>
		<key>intercal</key>
		<string>int</string>
		<key>jm</key>
		<string>\jmath</string>
		<key>k</key>
		<string>\kappa</string>
		<key>kappa</key>
		<string>varkappa</string>
		<key>l</key>
		<string>\lambda</string>
		<key>la</key>
		<string>\langle</string>
		<key>lar</key>
		<string>\leftarrow</string>
		<key>lb</key>
		<string>\label</string>
		<key>lc</key>
		<string>\lceil</string>
		<key>ld</key>
		<string>\ldots</string>
		<key>le</key>
		<string>\lesssim</string>
		<key>leftarrow</key>
		<string>longleftarrow</string>
		<key>leftharpoondown</key>
		<string>rightharpoonup</string>
		<key>leftharpoonup</key>
		<string>leftharpoondown</string>
		<key>leftrightarrow</key>
		<string>longleftrightarrow</string>
		<key>leftthreetimes</key>
		<string>lesssim</string>
		<key>leq</key>
		<string>leqq</string>
		<key>leqq</key>
		<string>leftthreetimes</string>
		<key>lesssim</key>
		<string>leq</string>
		<key>lf</key>
		<string>\lfloor</string>
		<key>li</key>
		<string>\lim</string>
		<key>lim</key>
		<string>liminf</string>
		<key>liminf</key>
		<string>limsup</string>
		<key>limsup</key>
		<string>lim</string>
		<key>ll</key>
		<string>\lll</string>
		<key>lo</key>
		<string>\log</string>
		<key>log</key>
		<string>longmapsto</string>
		<key>longleftarrow</key>
		<string>Leftarrow</string>
		<key>longleftrightarrow</key>
		<string>Leftrightarrow</string>
		<key>longmapsto</key>
		<string>lozenge</string>
		<key>longrightarrow</key>
		<string>Rightarrow</string>
		<key>lozenge</key>
		<string>log</string>
		<key>lrar</key>
		<string>\leftrightarrow</string>
		<key>lt</key>
		<string>\ltimes</string>
		<key>m</key>
		<string>\mu</string>
		<key>ma</key>
		<string>\mapsto</string>
		<key>mapsto</key>
		<string>max</string>
		<key>max</key>
		<string>mapsto</string>
		<key>measuredangle</key>
		<string>sphericalangle</string>
		<key>medskip</key>
		<string>bigskip</string>
		<key>mh</key>
		<string>\mho</string>
		<key>mi</key>
		<string>\min</string>
		<key>mid</key>
		<string>min</string>
		<key>min</key>
		<string>mid</string>
		<key>n</key>
		<string>\nu</string>
		<key>na</key>
		<string>\nabla</string>
		<key>nabla</key>
		<string>natural</string>
		<key>natural</key>
		<string>nabla</string>
		<key>ne</key>
		<string>\neq</string>
		<key>nearrow</key>
		<string>neq</string>
		<key>neq</key>
		<string>nexists</string>
		<key>nexists</key>
		<string>nearrow</string>
		<key>no</key>
		<string>\not</string>
		<key>nonumber</key>
		<string>not</string>
		<key>not</key>
		<string>notin</string>
		<key>notin</key>
		<string>nonumber</string>
		<key>nw</key>
		<string>\nwarrow</string>
		<key>od</key>
		<string>\odot</string>
		<key>oi</key>
		<string>\oint</string>
		<key>om</key>
		<string>\ominus</string>
		<key>op</key>
		<string>\oplus</string>
		<key>os</key>
		<string>\oslash</string>
		<key>ot</key>
		<string>\otimes</string>
		<key>p</key>
		<string>\pi</string>
		<key>pa</key>
		<string>\partial</string>
		<key>pe</key>
		<string>\perp</string>
		<key>phi</key>
		<string>varphi</string>
		<key>pi</key>
		<string>varpi</string>
		<key>pr</key>
		<string>\prod</string>
		<key>prec</key>
		<string>preceq</string>
		<key>preceq</key>
		<string>propto</string>
		<key>prod</key>
		<string>prec</string>
		<key>propto</key>
		<string>prod</string>
		<key>q</key>
		<string>\theta</string>
		<key>qq</key>
		<string>\qquad</string>
		<key>qu</key>
		<string>\quad</string>
		<key>r</key>
		<string>\rho</string>
		<key>ra</key>
		<string>\rangle</string>
		<key>rar</key>
		<string>\rightarrow</string>
		<key>rc</key>
		<string>\rceil</string>
		<key>re</key>
		<string>\Re</string>
		<key>ref</key>
		<string>Re</string>
		<key>rf</key>
		<string>\rfloor</string>
		<key>rh</key>
		<string>\rhd</string>
		<key>rho</key>
		<string>varrho</string>
		<key>ri</key>
		<string>\rightthreetimes</string>
		<key>rightarrow</key>
		<string>longrightarrow</string>
		<key>rightharpoondown</key>
		<string>leftharpoonup</string>
		<key>rightharpoonup</key>
		<string>rightharpoondown</string>
		<key>rt</key>
		<string>\rtimes</string>
		<key>s</key>
		<string>\sigma</string>
		<key>sb</key>
		<string>\subset</string>
		<key>sc</key>
		<string>\scriptstyle</string>
		<key>scriptscriptstyle</key>
		<string>scriptstyle</string>
		<key>scriptstyle</key>
		<string>scriptscriptstyle</string>
		<key>se</key>
		<string>\setminus</string>
		<key>searrow</key>
		<string>setminus</string>
		<key>setminus</key>
		<string>searrow</string>
		<key>sh</key>
		<string>\sharp</string>
		<key>si</key>
		<string>\sin</string>
		<key>sigma</key>
		<string>varsigma</string>
		<key>sim</key>
		<string>simeq</string>
		<key>simeq</key>
		<string>sin</string>
		<key>sin</key>
		<string>sinh</string>
		<key>sinh</key>
		<string>sim</string>
		<key>sk</key>
		<string>\smallskip</string>
		<key>sm</key>
		<string>\smallsetminus</string>
		<key>smallskip</key>
		<string>medskip</string>
		<key>sp</key>
		<string>\supset</string>
		<key>spadesuit</key>
		<string>supset</string>
		<key>sphericalangle</key>
		<string>angle</string>
		<key>sq</key>
		<string>\sqrt</string>
		<key>sqcap</key>
		<string>sqcup</string>
		<key>sqcup</key>
		<string>sqrt</string>
		<key>sqrt</key>
		<string>square</string>
		<key>square</key>
		<string>sqcap</string>
		<key>st</key>
		<string>\star</string>
		<key>su</key>
		<string>\sum</string>
		<key>subset</key>
		<string>subseteq</string>
		<key>subseteq</key>
		<string>subseteqq</string>
		<key>subseteqq</key>
		<string>Subset</string>
		<key>succ</key>
		<string>succeq</string>
		<key>succcurlyeq</key>
		<string>surd</string>
		<key>succeq</key>
		<string>succcurlyeq</string>
		<key>sum</key>
		<string>sup</string>
		<key>sup</key>
		<string>supp</string>
		<key>supp</key>
		<string>succ</string>
		<key>supset</key>
		<string>supseteq</string>
		<key>supseteq</key>
		<string>supseteqq</string>
		<key>supseteqq</key>
		<string>Supset</string>
		<key>surd</key>
		<string>sum</string>
		<key>sw</key>
		<string>\swarrow</string>
		<key>t</key>
		<string>\tau</string>
		<key>ta</key>
		<string>\tan</string>
		<key>tan</key>
		<string>tanh</string>
		<key>tanh</key>
		<string>tan</string>
		<key>te</key>
		<string>\textstyle</string>
		<key>th</key>
		<string>\therefore</string>
		<key>theta</key>
		<string>vartheta</string>
		<key>ti</key>
		<string>\times</string>
		<key>to</key>
		<string>\top</string>
		<key>tr</key>
		<string>\triangle</string>
		<key>triangle</key>
		<string>triangledown</string>
		<key>triangledown</key>
		<string>triangleleft</string>
		<key>triangleleft</key>
		<string>triangleright</string>
		<key>triangleright</key>
		<string>triangle</string>
		<key>u</key>
		<string>\upsilon</string>
		<key>uar</key>
		<string>\uparrow</string>
		<key>up</key>
		<string>\uplus</string>
		<key>uparrow</key>
		<string>Uparrow</string>
		<key>updownarrow</key>
		<string>Updownarrow</string>
		<key>v</key>
		<string>\digamma</string>
		<key>va</key>
		<string>\vartriangle</string>
		<key>varepsilon</key>
		<string>epsilon</string>
		<key>varkappa</key>
		<string>kappa</string>
		<key>varnothing</key>
		<string>vartriangle</string>
		<key>varphi</key>
		<string>phi</string>
		<key>varpi</key>
		<string>pi</string>
		<key>varrho</key>
		<string>rho</string>
		<key>varsigma</key>
		<string>sigma</string>
		<key>vartheta</key>
		<string>theta</string>
		<key>vartriangle</key>
		<string>varnothing</string>
		<key>vd</key>
		<string>\vdots</string>
		<key>vdash</key>
		<string>vdots</string>
		<key>vdots</key>
		<string>vdash</string>
		<key>ve</key>
		<string>\vee</string>
		<key>vee</key>
		<string>veebar</string>
		<key>veebar</key>
		<string>vee</string>
		<key>w</key>
		<string>\omega</string>
		<key>we</key>
		<string>\wedge</string>
		<key>x</key>
		<string>\xi</string>
		<key>y</key>
		<string>\psi</string>
		<key>z</key>
		<string>\zeta</string>
	</dict>
</dict>
</plist>
