.aceactive4d .ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.aceactive4d .ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.aceactive4d .ace_gutter {
  width: 50px;
  background: #e8e8e8;
  color: #333;
  overflow : hidden;
}

.aceactive4d .ace_gutter-layer {
  width: 100%;
  text-align: right;
}

.aceactive4d .ace_gutter-layer .ace_gutter-cell {
  padding-right: 6px;
}

.aceactive4d .ace_print_margin {
  width: 1px;
  background: #e8e8e8;
}

.aceactive4d .ace_scroller {
  background-color: #FFFFFF;
}

.aceactive4d .ace_text-layer {
  cursor: text;
  color: #3B3B3B;
}

.aceactive4d .ace_cursor {
  border-left: 2px solid #000000;
}

.aceactive4d .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #000000;
}
 
.aceactive4d .ace_marker-layer .ace_selection {
  background: #BAD6FD;
}

.aceactive4d .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}

.aceactive4d .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #BFBFBF;
}

.aceactive4d .ace_marker-layer .ace_active_line {
  background: rgba(0, 0, 0, 0.071);
}

       
.aceactive4d .ace_invisible {
  color: #BFBFBF;
}

.aceactive4d .ace_keyword {
  color:#006699;
}

.aceactive4d .ace_keyword.ace_operator {
  
}

.aceactive4d .ace_constant {
  
}

.aceactive4d .ace_constant.ace_language {
  color:#A535AE;
}

.aceactive4d .ace_constant.ace_library {
  
}

.aceactive4d .ace_constant.ace_numeric {
  color:#A8017E;
}

.aceactive4d .ace_invalid {
  color:#FFFFFF;
background-color:#990000;
}

.aceactive4d .ace_invalid.ace_illegal {
  
}

.aceactive4d .ace_invalid.ace_deprecated {
  
}

.aceactive4d .ace_support {
  
}

.aceactive4d .ace_support.ace_function {
  color:#45AE34;
}

.aceactive4d .ace_function.ace_buildin {
  
}

.aceactive4d .ace_string {
  color:#666666;
}

.aceactive4d .ace_string.ace_regexp {
  
}

.aceactive4d .ace_comment {
  
}

.aceactive4d .ace_comment.ace_doc {
  
}

.aceactive4d .ace_comment.ace_doc.ace_tag {
  
}

.aceactive4d .ace_variable {
  color:#0053FF;
}

.aceactive4d .ace_variable.ace_language {
  
}

.aceactive4d .ace_xml_pe {
  
}