.aceclouds .ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.aceclouds .ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.aceclouds .ace_gutter {
  width: 50px;
  background: #e8e8e8;
  color: #333;
  overflow : hidden;
}

.aceclouds .ace_gutter-layer {
  width: 100%;
  text-align: right;
}

.aceclouds .ace_gutter-layer .ace_gutter-cell {
  padding-right: 6px;
}

.aceclouds .ace_print_margin {
  width: 1px;
  background: #e8e8e8;
}

.aceclouds .ace_scroller {
  background-color: #FFFFFF;
}

.aceclouds .ace_text-layer {
  cursor: text;
  color: #000000;
}

.aceclouds .ace_cursor {
  border-left: 2px solid #000000;
}

.aceclouds .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #000000;
}
 
.aceclouds .ace_marker-layer .ace_selection {
  background: #BDD5FC;
}

.aceclouds .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}

.aceclouds .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #BFBFBF;
}

.aceclouds .ace_marker-layer .ace_active_line {
  background: #FFFBD1;
}

       
.aceclouds .ace_invisible {
  color: #BFBFBF;
}

.aceclouds .ace_keyword {
  color:#AF956F;
}

.aceclouds .ace_keyword.ace_operator {
  color:#484848;
}

.aceclouds .ace_constant {
  
}

.aceclouds .ace_constant.ace_language {
  color:#39946A;
}

.aceclouds .ace_constant.ace_library {
  
}

.aceclouds .ace_constant.ace_numeric {
  color:#46A609;
}

.aceclouds .ace_invalid {
  background-color:#FF002A;
}

.aceclouds .ace_invalid.ace_illegal {
  
}

.aceclouds .ace_invalid.ace_deprecated {
  
}

.aceclouds .ace_support {
  
}

.aceclouds .ace_support.ace_function {
  color:#C52727;
}

.aceclouds .ace_function.ace_buildin {
  
}

.aceclouds .ace_string {
  color:#5D90CD;
}

.aceclouds .ace_string.ace_regexp {
  
}

.aceclouds .ace_comment {
  color:#BCC8BA;
}

.aceclouds .ace_comment.ace_doc {
  
}

.aceclouds .ace_comment.ace_doc.ace_tag {
  
}

.aceclouds .ace_variable {
  
}

.aceclouds .ace_variable.ace_language {
  
}

.aceclouds .ace_xml_pe {
  
}