.aceiplastic .ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.aceiplastic .ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.aceiplastic .ace_gutter {
  width: 50px;
  background: #e8e8e8;
  color: #333;
  overflow : hidden;
}

.aceiplastic .ace_gutter-layer {
  width: 100%;
  text-align: right;
}

.aceiplastic .ace_gutter-layer .ace_gutter-cell {
  padding-right: 6px;
}

.aceiplastic .ace_print_margin {
  width: 1px;
  background: #e8e8e8;
}

.aceiplastic .ace_scroller {
  background-color: rgba(238, 238, 238, 0.92);
}

.aceiplastic .ace_text-layer {
  cursor: text;
  color: #000000;
}

.aceiplastic .ace_cursor {
  border-left: 2px solid #000000;
}

.aceiplastic .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #000000;
}
 
.aceiplastic .ace_marker-layer .ace_selection {
  background: #BAD6FD;
}

.aceiplastic .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}

.aceiplastic .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(179, 179, 179, 0.96);
}

.aceiplastic .ace_marker-layer .ace_active_line {
  background: rgba(0, 0, 0, 0.10);
}

       
.aceiplastic .ace_invisible {
  color: rgba(179, 179, 179, 0.96);
}

.aceiplastic .ace_keyword {
  color:#0000FF;
}

.aceiplastic .ace_keyword.ace_operator {
  
}

.aceiplastic .ace_constant {
  color:#6782D3;
}

.aceiplastic .ace_constant.ace_language {
  color:#9700CC;
}

.aceiplastic .ace_constant.ace_library {
  
}

.aceiplastic .ace_constant.ace_numeric {
  color:#0066FF;
}

.aceiplastic .ace_invalid {
  color:#FF0000;
background-color:rgba(231, 26, 17, 0.30);
}

.aceiplastic .ace_invalid.ace_illegal {
  
}

.aceiplastic .ace_invalid.ace_deprecated {
  
}

.aceiplastic .ace_support {
  color:#3333FF;
}

.aceiplastic .ace_support.ace_function {
  
}

.aceiplastic .ace_function.ace_buildin {
  
}

.aceiplastic .ace_string {
  color:#009933;
}

.aceiplastic .ace_string.ace_regexp {
  color:#FF0080;
}

.aceiplastic .ace_comment {
  font-style:italic;
color:#0066FF;
}

.aceiplastic .ace_comment.ace_doc {
  
}

.aceiplastic .ace_comment.ace_doc.ace_tag {
  
}

.aceiplastic .ace_variable {
  
}

.aceiplastic .ace_variable.ace_language {
  
}

.aceiplastic .ace_xml_pe {
  
}