.acemagicwb_(amiga) .ace_editor {
  border: 2px solid rgb(159, 159, 159);
}

.acemagicwb_(amiga) .ace_editor.ace_focus {
  border: 2px solid #327fbd;
}

.acemagicwb_(amiga) .ace_gutter {
  width: 50px;
  background: #e8e8e8;
  color: #333;
  overflow : hidden;
}

.acemagicwb_(amiga) .ace_gutter-layer {
  width: 100%;
  text-align: right;
}

.acemagicwb_(amiga) .ace_gutter-layer .ace_gutter-cell {
  padding-right: 6px;
}

.acemagicwb_(amiga) .ace_print_margin {
  width: 1px;
  background: #e8e8e8;
}

.acemagicwb_(amiga) .ace_scroller {
  background-color: #969696;
}

.acemagicwb_(amiga) .ace_text-layer {
  cursor: text;
  color: #000000;
}

.acemagicwb_(amiga) .ace_cursor {
  border-left: 2px solid #FFFFFF;
}

.acemagicwb_(amiga) .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #FFFFFF;
}
 
.acemagicwb_(amiga) .ace_marker-layer .ace_selection {
  background: #B1B1B1;
}

.acemagicwb_(amiga) .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}

.acemagicwb_(amiga) .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #FF38FF;
}

.acemagicwb_(amiga) .ace_marker-layer .ace_active_line {
  background: rgba(0, 0, 0, 0.071);
}

       
.acemagicwb_(amiga) .ace_invisible {
  color: #FF38FF;
}

.acemagicwb_(amiga) .ace_keyword {
  
}

.acemagicwb_(amiga) .ace_keyword.ace_operator {
  
}

.acemagicwb_(amiga) .ace_constant {
  
}

.acemagicwb_(amiga) .ace_constant.ace_language {
  color:#FFA995;
}

.acemagicwb_(amiga) .ace_constant.ace_library {
  
}

.acemagicwb_(amiga) .ace_constant.ace_numeric {
  color:#FFFFFF;
}

.acemagicwb_(amiga) .ace_invalid {
  color:#FFFFFF;
background-color:#797979;
}

.acemagicwb_(amiga) .ace_invalid.ace_illegal {
  
}

.acemagicwb_(amiga) .ace_invalid.ace_deprecated {
  
}

.acemagicwb_(amiga) .ace_support {
  
}

.acemagicwb_(amiga) .ace_support.ace_function {
  color:#E5B3FF;
}

.acemagicwb_(amiga) .ace_function.ace_buildin {
  
}

.acemagicwb_(amiga) .ace_string {
  color:#FFFFFF;
background-color:rgba(255, 0, 0, 0.20);
}

.acemagicwb_(amiga) .ace_string.ace_regexp {
  
}

.acemagicwb_(amiga) .ace_comment {
  font-style:italic;
color:#8D2E75;
}

.acemagicwb_(amiga) .ace_comment.ace_doc {
  
}

.acemagicwb_(amiga) .ace_comment.ace_doc.ace_tag {
  
}

.acemagicwb_(amiga) .ace_variable {
  
}

.acemagicwb_(amiga) .ace_variable.ace_language {
  color:#FFA995;
}

.acemagicwb_(amiga) .ace_xml_pe {
  
}